.ion-ios-check-outline{
    background: url('https://api.iconify.design/ant-design/check-circle-outlined.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/ant-design/check-circle-outlined.svg');
    padding: 1.5px;
}
.ion-ios-close-outline{
    background: url('https://api.iconify.design/ant-design/close-circle-outlined.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/ant-design/close-circle-outlined.svg');
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: azure;
}
/* .add-type{
    color:crimson;
    font-family: monospace;
    top: 4rem;
}
.add-description{
    color:crimson;
    font-family: monospace;
    top: 4rem;
}
.add-value{
    color:crimson;
    font-family: monospace;
    top: 4rem;
} */
.btn-add{
    font-family: monospace;
    background-color: transparent;
    border-radius: 50px;
    size-adjust: 50px;
    border-color: transparent;
}
.item-delete-btn{
    font-family: monospace;
    background-color: transparent;
    border-radius: 50px;
    size-adjust: 50px;
    border-color: transparent;
}
.item-porcentage{
    text-align: center;
    font-family: monospace;
    font-size: 0.8em;
    color:black;
    /* background-color: palevioletred; */
    border: 0.4px solid black;
    border-radius: 5px;
    border-color: black;
    margin: 2.5px;
    width: fit-content;
    padding: 0.2px;
}
.top-container{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 15px; 
   
}
.item-container{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 5px;
}
.incomes-container{
    /* border: 2px solid  yellow; */

}
.incomes-title{
    border: 2px solid green;
    margin: 0;/*este dejalo*/
}
.incomes-list{
    /* border-bottom: 2px solid green; */
    padding: 1.5px; /*este dejalo*/
}
.expenses-container{
    /* border: 2px solid purple; */
}
.expenses-title{
    border: 2px solid red;
    margin: 0;/*este dejalo*/
}
.expenses-list{
    /* border-bottom: 2px solid green; */
    padding: 1.5px; /*este dejalo*/
}
.item{
    /* border-bottom: 2px solid green; */
    margin: 0.5px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 5px;
}
.item-description{
    border-bottom: 2px solid blue;
    width: 500px;
}
.left{
    border-bottom: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 2px;
    width: 150px max-content;
}
.right{
    border-bottom: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 2px;
    width: 150px;
}